html {
    background-color: #f1f1f1;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: rgb(0, 0, 0);
    color: #f1f1f1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    direction: ltr;
    min-width: 320px;
    margin: 0;
    padding: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}

div {
    display: block;  
}

img {
    max-width: 100%;
    border: 0;
    max-height: 100%;
}

h2, h3, h4, h5 {
    margin: .75em 0 .25em;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;   
    cursor: pointer;
}

ul {
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
    list-style-type: none;
}

video {
    display: inline-block;
    vertical-align: baseline;
}

.basic-layout {
    display: block;
}

.story-cards-container {
    width: 100%;
    overflow-x: hidden;
}
section[class *="story-"] {
    direction: ltr;
    unicode-bidi: isolate;
}

.story-card-hdr-wrapper {
    background: linear-gradient(to top, rgba(0,0,0,0) 0, #000 100%);
    background-color: transparent;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    transition: background-color .5s;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5rem;
    z-index: 10;
}

.story-card-hdr-wrapper .story-card-hdr {
    height: 100%;
    margin: 0 2rem;
    position: relative;
}
.story-card-hdr-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.story-card-hdr-list .story-card-hdr-item {
    line-height: normal;   
    margin: .5rem 0 0 0;
}

#story-card-title {
    color: #e50914;
    line-height: normal;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .3rem;
    text-transform: uppercase;
    height: 100%;
    width: 160px;
    font-size: 3rem;
    clear: right;
    margin: .4rem 0 0 0;
    font-weight: 900;
}

#story-card-sign-in {
    clear: both;
    float: right;
    line-height: normal;
    background-color: #e50914;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 17px;
    font-weight: 400;
    font-size: 1.2rem;
    width: 8vw;
    color: #fff;
    margin-top: .5rem;
    text-align: center;
    outline: 1px solid #fff;
    outline-offset: 1.8px;
    -moz-outline-radius: 3px;
}

#story-card-sign-in:hover {
    outline: none;
}

.story-cards {
    margin: 0 auto;
}

.story-cards .hero-card {
    height: calc(100vh - 65px);
    min-height: 37.5rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    border-bottom: 0;
}

.story-cards .story-card {
    position: relative;
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
}

.story-cards .story-card .story-card-bg {
    position: absolute;
    top: -70px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.story-card .story-card-bg .bg-img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 1115px;
}

.story-cards .story-card .story-card-bg .bg-img-wrapper .bg-img {
    transform: none;
    width: 100%;
    object-fit: cover;
}

#bg-img {
    height: 65%;
    opacity: .85;
}       
.hero-card .story-card-bg .bg-img-wrapper .bg-img-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.2) linear-gradient(to top,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.3) 100%);
}

.story-cards .hero-card .story-card-bg .bg-img-gradient::before , .story-cards .sotry-card .story-card-bg .bg-img-gradient::before {
    background: linear-gradient(to bottom,#000 25%,rgba(0,0,0,.5) 75%,rgba(0,0,0,0));
    background: -webkit-linear-gradient(to bottom,#000 25%,rgba(0,0,0,.5) 75%,rgba(0,0,0,0));
    background: -moz-linear-gradient(to bottom,#000 25%,rgba(0,0,0,.5) 75%,rgba(0,0,0,0));
}


.story-cards .hero-card .story-card-bg .bg-img-gradient::after , .story-cards .story-card .story-card-bg .bg-img-gradient::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 50%;
    background: linear-gradient(to top,#000 0,#000 75%,rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(to top,#000 0,#000 75%,rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(to top,#000 0,#000 75%,rgba(0,0,0,0) 100%);
    width: 100%;
}

.story-cards .story-card .story-card-disp {
    width: 100%;
    margin: 0;
    min-height: 50%;
    padding: 0;
}

.story-card-disp .center-align {
    position: absolute;
    top: 50%;
    left: 50%;
}
.story-card .story-card-text {
    min-height: 50%;
    position: relative;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    font-weight: 400;
    font-size: 1.6rem;
    display: block;
    max-width: 54rem;
    width: 50%;
}
.story-card-disp .story-card-text .story-card-title {
    margin: 0 auto;
    width: 100%;
    font-size: 4.6rem;
    line-height: 4.7rem;
    color: #ffffff;
    font-weight: bolder;
}
.story-card-text .story-card-title .span {
   background-color: #ff7a00;
   display: block;
   background-image: linear-gradient(30deg,rgba(255,122,0,0) 0,#ff7a00 30%,#e5337f 58%,#7000ff 75%), linear-gradient(140deg,rgba(255,122,0,0) 0,#ff7a00 30%,#e5337f 68%);
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

.story-card .story-card-disp .story-card-form {
    display: block;
    z-index: 1;
    position: relative;
    width: 100%;
    margin: 3px 0 0 0;
    height: 100%;
}
.story-card-form .form1 {
    width: 100%;
    margin: 0;
    padding: 0;
}
.form1 .email-form-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    line-height: normal;
    width: 100%;
}

.form1 .email-form-ul .email-form-li {
    height: 3.6rem;
    margin: 0;
    width: 25rem;
}
.email-form-li .email-input-field {
    height: 100%;
    width: 100%;
}

.form1 .email-form-ul .email-form-li2 {
    height: 3.6rem;
    margin: 0;
    background-color: #e50914;
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.email-form-li2 .email-sub-btn {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}

.form1 .email-form-ul .email-form-li2:hover {
    background-color: #ff232e;
}

.story-card-form .story-card-form-h3 {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.story-card-form .story-card-form-h3 > h3 {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    max-width: 450px;
}

.story-cards .story-card {
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    color: #fff;
    margin-bottom: 0;
    background: 0 0;
}

.story-cards .story-card-row {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
}
.story-card.watchontv .story-card-text {
    width: 50%;
    padding: 0 3rem 0 0;
    font-weight: 400;
    text-align: unset;
}

.story-card-row .story-card-text .story-card-title {
    font-size: 3.2rem;
    line-height: 1;
    padding-bottom: .5rem;
    margin: 0;
}

.story-card .story-card-text .story-card-subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    text-indent: 0;
}
.story-card .story-card-row .side-anim-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.watchontv .story-card-row .card-anim-cont {
    margin: -10% -5% -5% 0;
}
.story-card-row .card-anim-cont {
    position: relative;
    overflow: hidden;
}
.watchontv .story-card-row .card-anim-cont .img-anim {
    position: relative;
    z-index: 2;
}

.watchontv .story-card-row .card-anim-cont .card-anim-vid-cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 46%;
    left: 50%;
    max-height: 54%;
    max-width: 73%;
    transform: translate(-50%,-50%);
}
.story-card.watchontv .vid-anim,
.story-card.watchondevice .vid-anim {
    width: 100%;
    height: 100%;
}

.story-card .d-1 {
    flex-direction: row-reverse;
}
.story-card.download .story-card-text {
    padding: 0 0 0 3rem;
    text-align: unset;
}
.story-card.download .card-anim-cont {
    margin: -8% 0 -4% -15%;
    min-height: 100%;
    width: 100%;
}

.story-card.download .card-anim-sub-cont {
    position: absolute;
    left: 50%;
    bottom: 10%;
    margin: 0 auto;
    background: #000;
    width: 60%;
    align-items: center;
    display: flex;
    min-width: 15em;
    padding: .25em .65em;
    border: 2px solid rgba(255, 255, 255, .25);
    border-radius: .75em;
    transform: translateX(-50%);
    box-shadow: 0 0 2em 0 #000;
}

.story-card.download .card-anim-sub-cont .card-anim-sub-cont-img {
    flex-shrink: 0;
    margin: 0 1em 0 0;
    flex-grow: 0;
}

.story-card.download .card-anim-sub-cont .card-anim-sub-cont-img img {
    height: 3em;
}

.story-card.download .card-anim-sub-cont .card-anim-sub-cont-text {
    flex-shrink: 1;
    flex-grow: 1;
    margin: .3em 0;
}

.story-card.download .card-anim-sub-cont-text .text-0 {
    font-weight: 600;
    font-size: .9em;
}

.story-card.download .card-anim-sub-cont-text .text-1 {
    font-size: .75em;
    color: #0071eb;
    font-weight: 300;
}

.story-card.download .card-anim-sub-cont:after {
    content: "";
    width: 2.5em;
    height: 2.5em;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
}

.story-card.watchondevice .story-card-text {
    text-align: unset;
    padding: 0 0 0 3rem;
}

.story-card.watchondevice .card-anim-cont {
    margin: -5% -10% 0 0;
}
.story-card.watchondevice .img-anim {
    position: relative;
    z-index: 2;
}

.story-card.watchondevice .card-anim-vid-cont {
    position: absolute;
    top: 34%;
    left: 50%;
    max-height: 47%;
    max-width: 63%;
    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.story-card.watchondevice .card-anim-vid-cont .vid-anim {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.story-card.faq-card .faq-card-container {
    margin: 0 auto  ;
    display: block;
}

.story-card.faq-card .faq-card-container .story-card-title {
    font-size: 2.8rem;
    height: 4rem;
    padding: 0;
    font-weight: 600;
    text-align: center;
    margin-bottom: .5rem;
}

.story-card.faq-card .faq-list-container {
    margin: 1.25em auto;
    max-width: 815px;
}
.story-card.faq-card .faq-list-item {
    margin: 0 0 8px 0;
    background-color: #303030;
    text-align: left;
    padding: 1em 1.2em;
    position: relative;
    height: auto;
    transition: transform .3s;
}
.story-card.faq-card .faq-quest {
    font-size: 1.8rem;
    font-weight: 200;
    display: inline-block;
    width: 100%;
}

.story-card.faq-card .faq-quest .faq-ans {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: inherit;
    height: auto;
}


.story-card.faq-card .faq-list-item .faq-quest:focus .faq-ans, .story-card.faq-card .faq-list-item .faq-quest:hover .faq-ans {
    visibility: visible;
    opacity: 1;
    height: auto;
    width: 100%;
    background-color: #303030;
    transition: opacity .3s, height .3s, width .3s, background-color.3s;
    display: block;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    margin-top: 2px;
    padding: 1em 1.2em;
    z-index: 1
}

.story-cards .story-card.footer-card {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 0;
    border-bottom: unset;
}

.story-card.footer-card .cont-footer-wrapper {
    padding: 0;
    margin: 0 auto;
    font-size: 1em;
    min-width: 190px;
    width: 100%;
}
.story-card.footer-card .cont-footer-container {
    width: 90%;
    margin: 0 auto;
    color: #757575;
}
.story-card.footer-card .footer-top {
    width: 100%;
    margin: 0 0 30px 0;
}
.story-card.footer-card .footer-links {
    max-width: 1000px;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.story-card.footer-card .footer-link-item {
    min-width: 100px;
    width: 25%;
    margin-left: 0;
    padding: 0 12px 0 0;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.story-card.footer-card .footer-link {
    color: #757575;
}
