@media only screen and (max-width: 450px) , only screen and (max-width: 600px) and (min-width: 451px) {
    .story-card-hdr-wrapper {
        height: 45px;
    }
    .story-card-hdr-wrapper .story-card-hdr {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .story-card-hdr-list {
        height: 100%;
        padding: 4px 20px;
    }
    .story-card-hdr-item {
        height: 100%;
    }
    #story-card-title {
        font-size: 28px;
    }
    #story-card-sign-in {
        width: 75px;
        font-size: 15px;
        padding: 4px 7px 0;
        box-sizing: border-box;
        height: 70%;
        outline: unset;
    }
    .story-card.hero-card {
        height: calc(90vh - 65px);
        min-height: 30.5rem;
    }
    .hero-card .bg-img-wrapper {
        max-height: 581px;
    }
    .story-card .story-card-text {
        width: 100%;
        font-size: 1.25rem;
    }
    .story-card-disp .story-card-text .story-card-title {
        width: 85%;
        margin: 0 auto;
        font-size: 2.4rem;
        line-height: 2.5rem;
    }
    .story-card .story-card-disp .story-card-form, .story-card-form {
        display: flex;
        flex-flow: column-reverse;
        height: 10rem;
        align-items: flex-start;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .story-card-form .form1 {
        width: 100%;
        height: 60%;
    }
    .story-card-form .form1 .email-form-ul {
        flex-flow: column;
        height: 100%;
        width: auto; 
        justify-content: space-between;
        box-sizing: border-box;
    }   
    .form1 .email-form-ul .email-form-li {
        height: 55%;
        width: 100%;
        margin-bottom: 5%;
    }   
    .form1 .email-form-ul .email-form-li2 {
        height: 45%;
        width: 40%;
    }   
    .email-form-li2 .email-sub-btn {
        font-size: 1.1rem;
    }
    .form1 .email-form-ul .email-form-li2:hover {
        background-color: unset;
    }
    .story-card-form .story-card-form-h3 {
        height: auto;
    }
    .story-card-form .story-card-form-h3 > h3 {
        font-size: .92rem;
    }
    .story-cards .story-card-row {
        display: flex;
        flex-flow: column;
    }
    .story-card.watchontv .story-card-text {
        width: 100%;
        padding: 0 0 1rem 0;
        text-align: center;
    }
    .story-card-row .story-card-text .story-card-title {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .story-card .story-card-text .story-card-subtitle {
        font-size: 1rem;
        text-indent: unset;
        line-height: 1.2rem;
    }
    .story-card .story-card-row .side-anim-wrapper {
     width: 100%;
     max-width: 600px;
     margin-top: 1em;
     box-sizing: border-box;   
    }
    .watchontv .story-card-row .card-anim-cont {
        margin:-10% 0 0 0;
    }
    .story-card.download .story-card-text, .story-card.watchondevice .story-card-text {
        padding: 0;
        text-align: center;
    }
    .story-card.download .card-anim-cont, .story-card.watchondevice .card-anim-cont {
        margin: 0 auto;
    }
    #ms {
        padding: 50px 0;
    }
    .story-card.faq-card .faq-card-container .story-card-title {
        font-size: 2rem;
        font-weight: 600;
    }
    .story-card.faq-card .faq-quest {
        font-size: 20px;
    }
    #fms {
        padding: 10px;
    }
    .story-card.footer-card .footer-links {
        margin: 0 auto;
    }
    .story-card.footer-card .footer-link-item {
        width: 40%;
        margin: 0 20px 16px 0;
        padding: 0 0 0 12px;
    }
}


@media only screen and (max-width: 900px) and (min-width: 601px) {
    .story-card-hdr-wrapper {
        height: 65px;
    }
    .story-card-hdr-wrapper .story-card-hdr {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .story-card-hdr-list {
        height: 100%;
        padding: 4px 20px;
    }
    .story-card-hdr-item {
        height: 100%;
    }
    #story-card-title {
        font-size: 40px;
    }
    #story-card-sign-in {
        width: 120px;
        font-size: 20px;
        padding: 7px 7px 0;
        box-sizing: border-box;
        height: 70%;
        outline: unset;
    }
    .story-card.hero-card {
        height: calc(100vh - 65px);
        min-height: 30.5rem;
    }
    .hero-card .bg-img-wrapper {
        max-height: 1029px;
    }
    .story-card .story-card-disp {
        justify-content: space-between;
    }
    .story-card .story-card-text {
        width: 100%;
        font-size: 1.6rem;
        height: 10rem;
    }
    .story-card-disp .story-card-text .story-card-title {
        width: 85%;
        margin: 0 auto;
        font-size: 2.8rem;
        height: 100%;
        line-height: 2.9rem;

    }
    .story-card .story-card-disp .story-card-form, .story-card-form {
        display: flex;
        flex-flow: column-reverse;
        height: 14rem;
        align-items: flex-start;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .story-card-form .form1 {
        width: 100%;
        height: 60%;
    }
    .story-card-form .form1 .email-form-ul {
        flex-flow: column;
        height: 100%;
        width: auto; 
        justify-content: space-between;
        box-sizing: border-box;
    }   
    .form1 .email-form-ul .email-form-li {
        height: 55%;
        width: 100%;
        margin-bottom: 3%;
    }   
    .form1 .email-form-ul .email-form-li2 {
        height: 65%;
        width: 40%;
    }   
    .email-form-li2 .email-sub-btn {
        font-size: 1.8rem;
    }
    .form1 .email-form-ul .email-form-li2:hover {
        background-color: unset;
    }
    .story-card-form .story-card-form-h3 {
        height: 5rem;
    }
    .story-card-form .story-card-form-h3 > h3 {
        font-size: 1.2rem;
        height: 100%;
        margin: 0 auto;
    }
    .story-cards .story-card-row {
        display: flex;
        flex-flow: column;
    }
    .story-card.watchontv .story-card-text {
        width: 100%;
        padding: 0 0 2.5em 0;
        text-align: center;
    }
    .story-card-row .story-card-text .story-card-title {
        font-size: 2.6rem;
        height: auto;
        font-weight: 600;
    }
    .story-card .story-card-text .story-card-subtitle {
        font-size: 1.4rem;
        text-indent: unset;
        line-height: 1.8rem;
        height: auto;
        padding: 0;
    }
    .story-card .story-card-row .side-anim-wrapper {
     width: 100%;
     max-width: 600px;
     margin-top: 1em;
     box-sizing: border-box;   
    }
    .watchontv .story-card-row .card-anim-cont {
        margin:-10% 0 0 0;
    }
    .story-card.download .story-card-text, .story-card.watchondevice .story-card-text {
        padding: 0;
        text-align: center;
    }
    .story-card.download .card-anim-cont, .story-card.watchondevice .card-anim-cont {
        margin: 0 auto;
    }
    #ms {
        padding: 50px 0;
    }
    .story-card.faq-card .faq-card-container .story-card-title {
        font-size: 3rem;
        font-weight: 600;
    }
    .story-card.faq-card .faq-quest {
        font-size: 26px;
    }
    #fms {
        padding: 10px;
    }
    .story-card.footer-card .footer-links {
        margin: 0 auto;
    }
    .story-card.footer-card .footer-link-item {
        width: 40%;
        margin: 0 20px 16px 0;
        padding: 0 0 0 12px;
    }   
}


@media only screen and (max-width: 1450px) and (min-width: 901px) {
    .story-card-hdr-wrapper {
        height: 5rem;
    }
    .story-card-hdr-wrapper .story-card-hdr {
        height: 100%;
        margin: 0 1.5rem;
        padding: 0;
    }
    .story-card-hdr-list {
        height: 100%;
        padding: 10px 20px;
    }
    .story-card-hdr-item {
        height: 100%;
    }
    #story-card-title {
        font-size: 3rem;
    }
    #story-card-sign-in {
        width: 140px;
        font-size: 1.2rem;
        padding: 9px 7px 0;
        box-sizing: border-box;
        height: 70%;
        outline: unset;
    }
    .story-card.hero-card {
        height: calc(100vh - 65px);
        min-height: 35.5rem;
    }
    .hero-card .bg-img-wrapper {
        max-height: 1115px;
    }
    .story-card .story-card-disp {
        justify-content: space-between;
    }
    .story-card .story-card-text {
        width: 100%;
        font-size: 2.2rem;
        height: 11.5rem;
    }
    .story-card-disp .story-card-text .story-card-title {
        width: 85%;
        margin: 0 auto;
        font-size: 3.1rem;
        height: 100%;
        line-height: 3.2rem;

    }
    .story-card .story-card-disp .story-card-form, .story-card-form {
        display: flex;
        flex-flow: column-reverse;
        height: 14rem;
        align-items: flex-start;
        justify-content: space-around;
        box-sizing: border-box;
    }
    .story-card-form .form1 {
        width: 80%;
        height: 60%;
        margin: 0 auto;
    }
    .story-card-form .form1 .email-form-ul {
        flex-flow: column;
        height: 100%;
        width: auto; 
        justify-content: space-between;
        box-sizing: border-box;
    }   
    .form1 .email-form-ul .email-form-li {
        height: 55%;
        width: 100%;
        margin-bottom: 3%;
    }   
    .form1 .email-form-ul .email-form-li2 {
        height: 65%;
        width: 40%;
    }   
    .email-form-li2 .email-sub-btn {
        font-size: 1.8rem;
    }
    .form1 .email-form-ul .email-form-li2:hover {
        background-color: unset;
    }
    .story-card-form .story-card-form-h3 {
        height: 5rem;
    }
    .story-card-form .story-card-form-h3 > h3 {
        font-size: 1.2rem;
        height: 100%;
        margin: 0 auto;
    }
    .story-cards .story-card-row {
        display: flex;
        flex-flow: row;
    }
    .story-card.watchontv .story-card-text {
        width: 100%;
        padding: 0 0 2.5em 0;
        text-align: center;
    }
    .story-card-row .story-card-text .story-card-title {
        font-size: 2.6rem;
        height: auto;
        font-weight: 600;
    }
    .story-card .story-card-text .story-card-subtitle {
        font-size: 1.4rem;
        text-indent: unset;
        line-height: 1.8rem;
        height: auto;
        padding: 0;
    }
    .story-card .story-card-row .side-anim-wrapper {
     width: 100%;
     max-width: 600px;
     margin-top: 1em;
     box-sizing: border-box;   
    }
    .watchontv .story-card-row .card-anim-cont {
        margin:-10% 0 0 0;
    }
    .story-card.download .story-card-text, .story-card.watchondevice .story-card-text {
        padding: 0;
        text-align: center;
    }
    .story-card.download .card-anim-cont, .story-card.watchondevice .card-anim-cont {
        margin: 0 auto;
    }
    #ms {
        padding: 50px 0;
    }
    .story-card.faq-card .faq-card-container .story-card-title {
        font-size: 3rem;
        font-weight: 600;
    }
    .story-card.faq-card .faq-quest {
        font-size: 26px;
    }
    #fms {
        padding: 10px;
    }
    .story-card.footer-card .footer-links {
        margin: 0 auto;
    }
    .story-card.footer-card .footer-link-item {
        width: 40%;
        margin: 0 20px 16px 0;
        padding: 0 0 0 12px;
    }
}


@media only screen and (min-width: 1101px) {
    
}